<%= render 'shared/error_messages', :object => f.object %>

<h5>* denotes required</h5>

<div class="field">
  <%= f.label :name, "Name *" %><br />
  <%= f.text_field :name, :class => "text" %>
</div>
<div class="field">
  <%= f.label :twitter_username %><br />
  <%= f.text_field :twitter_username, :class => "text" %>
</div>
<div class="field">
  <%= f.label :description %><br />
  <%= f.text_field :description, :class => "text" %>
</div>
<div class="field">
  <%= f.label :email, "Email *" %><br />
  <%= f.text_field :email, :class => "text" %>
</div>
<div class="field">
  <%= f.label :password, "Password *" %><br />
  <%= f.password_field :password, :class => "text" %>
</div>
<div class="field">
  <%= f.label :password_confirmation, "Password confirmation *" %><br />
  <%= f.password_field :password_confirmation, :class => "text" %>
</div>