<div class="column span-21 main">
  <h1>Edit</h1>

  <div>
    <%= gravatar_for @user %>
    <%=  link_to_unless(@user.provider == "twitter", "change", "http://gravatar.com/emails", :target => "_blank") do
      link_to("change Twitter avatar (please re-login to see changes)", "http://twitter.com/settings/profile", :target => "_blank")
    end %>
  </div>
  <br/>

  <% if @user.provider.nil? %>

    <%= form_for(@user) do |f| %>

      <%= render 'basic_user_fields', :f => f %>

      <div class="actions">
        <%= f.submit "Update", :class => "button round" %>
      </div>
    <% end %>

  <% else %>

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, :class => "text" %>
      </div>

      <div class="field">
        <%= f.label :twitter_username %><br />
        <%= f.text_field :twitter_username, :class => "text" %>
      </div>

      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_field :description, :class => "text" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", :class => "button round" %>
      </div>
    <% end %>

  <% end %>


</div>