<div class="column span-16 main">
  <h1><%= @title %></h1>

  <% unless @users.empty? %>
    <ul class="users">
      <%= render @users %>
    </ul>
    <%= will_paginate @users %>
  <% end %>
</div>
<div class="column span-5 wrap last round_green sidebar">
  <strong>Name</strong> <%= @user.name %><br />
  <strong>Link</strong> <%= link_to user_path(@user), @user %><br />
  <% unless @user.twitter_username.nil? %>
    <strong>Twitter</strong>  <%= link_to "#{@user.twitter_username}", "http://twitter.com/#{@user.twitter_username}", :target => "_blank" %> <br/>
  <% end %>
  <strong>Cookposts</strong> <%= @user.microposts.count %>
  <%= render 'shared/stats' %>
  <% unless @users.empty? %>
  <div class="sidebar_users">
    <% @users.each do |user| %>
      <%= link_to gravatar_for(user, :size => 30), user %>
    <% end %>
  <% end %>
</div>
