<%= javascript_include_tag "micropost.js"  %>

<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content, 
      :onKeyDown => "textInputAction()",
      :onKeyUp => "textInputAction()",
      :onFocus => "enlargeTextArea()",
      :placeholder => "Share your thoughts",
      :autocomplete => "off"
  %>

  </div>
  <div id="submitbutton" class="hide actions left">
    <%= f.submit "Submit", :class => "hide button round", :autocomplete => "off" %>
  </div>
  <div class="right">
    <input id="micropostLengthCount" readonly type="text" class="noborder" autocomplete="off"/>
  </div>
<% end %>
<br/>