<div class="imgteaser round border-callout">
  <a href="<%= @micropost_rotated_image.photo.url(:large) %>" rel="lightbox" 
     title = "<%=  @micropost_rotated_image.content%>" >
       <%= image_tag @micropost_rotated_image.photo.url(:small), :width => '200px', 
         :alt => @micropost_rotated_image.content, :class => "photo_link round"%>        
    <span class="desc wrap">
      <%=  @micropost_rotated_image.content %>
    </span>
  </a>
  <b class="border-notch notch"></b>
  <b class="notch">    
</div>

<%= link_to gravatar_for(@micropost_rotated_image.user, :size => 40), 
  @micropost_rotated_image.user, :class => "left", :style=> "margin:15px 13px 0 14px;"%>
<p class="left wrap span-3" style="margin:13px 0 0 1px;">
  <%= link_to @micropost_rotated_image.user.name, @micropost_rotated_image.user %></p>


<% #liking of side image %>

<% user = @micropost_rotated_image.user rescue User.find(@micropost_rotated_image.user_id) %>

<% if current_user?(user) %>


  <div id="like_count_side_image<%= @micropost_rotated_image.id %>" class="small left">

    <% if @micropost_rotated_image.likes_count == 0 %>

      &nbsp;

    <% else %>
      
      <%= pluralize(@micropost_rotated_image.likes_count, "Like") %>
      
    <% end %>
      
  </div>


<% else %>

  <div id="like_action_side_image<%= @micropost_rotated_image.id %>" class="small left">
    <% if current_user.liking?(@micropost_rotated_image) %>
      <%= render 'microposts/unlike', :micropost => @micropost_rotated_image %>
    <% else %>
      <%= render 'microposts/like', :micropost => @micropost_rotated_image %>
    <%end%>
  </div>
<% end %>
