<% content_for :header do %>
 <%= render 'shared/message_header'  %>
<% end %>

<%= render 'shared/message_navigation' %>

<div class="column span-19 main" >

  <table border="1">
    <tr>
      <th>From</th>
      <th>Subject</th>
      <th>Received</th>
    </tr>

    <% for message in @messages %>
      <tr>

        <td><% if message.unread %>
            <strong><b>
              <% end %><%= message.author.name %><% if message.unread %>
                <strong></b>
          <% end %></td>
        <td><% if message.unread %>
            <strong><b>
              <% end %><%= link_to message.subject, message_path(message) %><% if message.unread %>
                <strong></b>
          <% end %></td>
        <td><% if message.unread %>
            <strong><b>
              <% end %><%= distance_of_time_in_words(message.created_at, Time.now) %> ago<% if message.unread %>
                <strong></b>
          <% end %></td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @messages %>

</div>