<div class="column span-16 main">
  <h1 style="margin-bottom:20px;">
    <%= gravatar_for current_user%> 
    <%= current_user.name %>
  </h1>
  <%= render 'shared/micropost_form' %>  
  <%= render 'shared/feed' %>
</div>

<div class="column span-5 ">
  <div class ="column span-5 wrap last round green_border sidebar">
    <%= render 'shared/user_info' %>
    <%= render 'shared/stats' %>
  </div>

  <%= render 'shared/rotated_image' unless @micropost_rotated_image.nil?%>

</div>
