<header class="border_bottom">
  <%= link_to logo, root_path %>

  <nav>
    <ul>

      <li><%= link_to "Home", root_path, :class => is_active?(root_path) || is_active?(recent_path) %>
      </li>

      <li><%= link_to "Users", users_path, :class => is_active?(users_path)%>
      </li>

      <% if signed_in? %>



        <li><%= link_to "Profile", current_user, :class => is_active?(current_user) %>
        </li>

        <% if current_user.unread_messages_count == 0 %>
          <li><%= link_to "Messages", inbox_path %>
          </li>
        <% else %>
          <li><%= link_to "Messages (#{current_user.unread_messages_count})", inbox_path%>
          </li>
        <% end %>

        <li><%= link_to "Settings", edit_user_path(current_user), :class => is_active?(edit_user_path(current_user)) %>
        </li>

      <% end %>

      <li><%= link_to "Help", help_path, :class => is_active?(help_path)%>
      </li>

      <% if signed_in? %>
        <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>

        <li><%= link_to "Sign in", signin_path, :class => is_active?(signin_path)%>
        </li>

        <%=  link_to(image_tag("/images/twitter_sign_in.png", :style => "height:24px;width:151px; vertical-align:middle; margin-bottom:5px;"), "/auth/twitter")%>

      <% end %>
    </ul>
  </nav>
</header>